apiVersion: apps/v1
kind: Deployment
metadata:
  name: coderprabhu-api-app
  labels:
    app: coderprabhu-api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: coderprabhu-api
      tier: api
  template:
    metadata:
      labels:
        app: coderprabhu-api
        tier: api
    spec:
      containers:
      - name: coderprabhu-api-app
        image: gcr.io/all-projects-292200/coderprabhu-api:0.0.18-SNAPSHOT
        imagePullPolicy: Always
        ports:
        - containerPort: 8080
        lifecycle:
          preStop:
            exec:
              command: ["sh","-c","sleep 5"]
        resources:
          requests:
            cpu: "0.02"
            memory: "150Mi"
          limits:
            cpu: "0.6"  
            memory: "244Mi" 
        env:
        - name: SPRING_PROFILES_ACTIVE
          value: "prod"    
        - name: BPL_JVM_HEAD_ROOM
          value: "10"  
        - name: BPL_JVM_LOADED_CLASS_COUNT
          value: "35"  
        - name: BPL_JVM_THREAD_COUNT
          value: "10"  
        - name: JAVA_TOOL_OPTIONS
          value: >-
                -XX:ReservedCodeCacheSize=24M
                -XX:MaxMetaspaceSize=65M
                -Xlog:gc
                -Xms40m
                -Xmx40m
                -Xss256k
                -XX:MaxRAM=160M
                -XX:+UseSerialGC
        # From Secret
        - name: MONGODB_USER
          valueFrom:
            secretKeyRef:
              name: mongodb-atlas-secret
              key: MONGODB_USER
        - name: MONGODB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: mongodb-atlas-secret
              key: MONGODB_PASSWORD
        # From ConfigMap
        - name: MONGODB_HOST
          valueFrom:
            configMapKeyRef:
              name: mongodb-atlas-config
              key: MONGODB_HOST
        - name: MONGODB_OPTIONS
          valueFrom:
            configMapKeyRef:
              name: mongodb-atlas-config
              key: MONGODB_OPTIONS
        - name: MONGODB_DB_NAME
          valueFrom:
            configMapKeyRef:
              name: mongodb-atlas-config
              key: CODERPRABHU_DB_NAME  # Change per app
        envFrom:
          - configMapRef:
               name: coderprabhu-api-log-level
        livenessProbe:
          httpGet:
            port: 8080
            path: /actuator/health/liveness
          initialDelaySeconds: 40
          periodSeconds: 10
          timeoutSeconds: 15
        readinessProbe:
          httpGet:
            port: 8080
            path: /actuator/health/readiness
          initialDelaySeconds: 60
          periodSeconds: 10
          timeoutSeconds: 15